<div *ngIf="suggestionBlog">
    <dir class="container-fluid">
        <h1 class="display-2">
            {{suggestionBlog.title}}
        </h1>
        <p class=""><span>{{suggestionBlog.create | date:'medium'}}</span> by <a href="">{{suggestionBlog.author?.login}}</a></p>
        <p class="lead"><span class="badge badge-default">{{suggestionBlog.category?.name}}</span></p>
        <hr>
    </dir>
    <div class="container">
        <jhi-alert-error></jhi-alert-error>
        <p class="lead">
            <span>{{suggestionBlog.content}}</span>
        </p>
    </div>


    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *ngIf="suggestionBlog.author.id === currentAccount.id" type="button" [routerLink]="['/', { outlets: { popup: 'suggestion-blog/'+ suggestionBlog.id + '/edit'} }]"
        replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
