<div class="container">
    <h2>
        <span jhiTranslate="suggestionsApp.suggestionBlog.home.title">Suggestion Blogs</span>
        <button class="btn btn-primary float-right create-suggestion-blog" [routerLink]="['/', { outlets: { popup: ['suggestion-blog-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="suggestionsApp.suggestionBlog.home.createLabel">
            Create new Suggestion Blog
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>


    <ul class="list-unstyled" *ngFor="let suggestionBlog of suggestionBlogs ;trackBy: trackId">
        <div class="card my-3">
            <div class="card-block">
                <li class="media my-2">
                    <a href="" data-toggle="tooltip" data-placement="top" title="{{suggestionBlog.author.login}}">
                        <span *ngIf="suggestionBlog.author.imageUrl">
                      <img [src]="suggestionBlog.author.imageUrl" class=" d-flex align-self-start mr-3 blog-image rounded-circle" alt="Avatar">
                  </span>
                        <img *ngIf="!suggestionBlog.author.imageUrl" class="d-flex align-self-start mr-3 blog-image rounded-circle" src="../../../content/images/logo-jhipster2x.png" alt="Avatar">
                    </a>
                    <div class="media-body">
                        <a href="" [routerLink]="['../suggestion-blog', suggestionBlog.id ]">
                            <h4 class="mt-0"> {{ suggestionBlog.title }} </h4>
                        </a>
                        <p>{{ suggestionBlog.content }}</p>
                        <p class="pull-right">
                            {{suggestionBlog.create | date:'medium'}}
                        </p>
                    </div>
                </li>
            </div>
            <div class="card-footer text-muted">
                <div class="pull-left">
                    <p><span jhiTranslate="suggestionsApp.suggestionBlog.Category">Category</span> <span class="badge badge-warning">{{ suggestionBlog.category?.name }}</span></p>
                </div>
                <div class="pull-right">
                    <button *ngIf="suggestionBlog.author.id === currentAccount.id" type="submit" [routerLink]="['/', { outlets: { popup: 'suggestion-blog/'+ suggestionBlog.id + '/edit'} }]"
                        replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    <button *ngIf="suggestionBlog.author.id === currentAccount.id" type="submit" [routerLink]="['/', { outlets: { popup: 'suggestion-blog/'+ suggestionBlog.id + '/delete'} }]"
                        replaceUrl="true" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                </div>
            </div>
        </div>
</div>
</ul>
</div>
