
<div *ngIf="suggestion">
    <h2><span jhiTranslate="suggestionsApp.suggestion.detail.title">Suggestion</span> {{suggestion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="suggestionsApp.suggestion.title">Title</span></dt>
        <dd>
            <span>{{suggestion.title}}</span>
        </dd>
        <dt><span jhiTranslate="suggestionsApp.suggestion.message">Message</span></dt>
        <dd>
            <span>{{suggestion.message}}</span>
        </dd>
        <dt><span jhiTranslate="suggestionsApp.suggestion.create">Create</span></dt>
        <dd>
            <span>{{suggestion.create | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="suggestionsApp.suggestion.Addressee">Addressee</span></dt>
        <dd>
            {{suggestion.addressee?.login}}
        </dd>
        <dt><span jhiTranslate="suggestionsApp.suggestion.author">Author</span></dt>
        <dd>
            {{suggestion.author?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *ngIf="suggestion.author.id === currentAccount.id" type="button"
            [routerLink]="['/', { outlets: { popup: 'suggestion/'+ suggestion.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
