<div class="container">
    <div class="row">
        <br>
        <br>

        <div class="col-md-8 offset-md-2">
            <div class="" style="text-align:center;">
                <div class="row-fluid">
                    <div class="">
                        <div>
                            <div>
                                <div>
                                    <span *ngIf="">
                      <img [src]="" class=" d-flex align-self-start mr-3 blog-image rounded-circle" alt="Avatar">
                  </span>
                                    <a>
                                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme"
                                            width="140" height="140" border="0" class="img-fluid rounded-circle"></a>
                                    <h3 class="media-heading">{{currentAccount}}<small> USA</small></h3>
                                    <span><strong>Skills: </strong></span>
                                    <span class="badge badge-default">HTML5/CSS</span>
                                    <span class="badge badge-default">Adobe CS 5.5</span>
                                    <span class="badge badge-default">Microsoft Office</span>
                                    <span class="badge badge-default">Windows XP, Vista, 7</span>
                                    <hr>
                                    <p class="text-left"><strong>Bio: {{currentAccount}}</strong><br> Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>